@{
    ViewBag.Title = "Home";
}
<main class="min-h-dvh font-sans">
    <header class="relative w-full h-dvh">
        <img src="~/Content/Images/medicos.png" alt="Imagen de fondo" class="w-full h-dvh object-cover">

        <section class="flex justify-center content-center flex-col items-center absolute top-0 left-0  w-full h-dvh text-center text-white px-4 pt-14 gap-6">
            <div class="bg-white/10 backdrop-blur-md px-3 py-1.5 rounded-4xl border-2 border-gray-300/40 font-semibold">
                <span class="text-sm text-teal-400 m-1 animate-pulse">
                    <i class="fa-solid fa-circle"></i>
                </span>                
                LÍDER EN SUMINISTROS MÉDICOS B2B
            </div>
            <div class="font-bold leading-tight flex flex-col gap-4">
                <h1 class="max-w-xl text-4xl md:text-6xl leading-tight">
                    Conecta con 
                <span class="text-teal-300 md:text-7xl">proveedores</span> 
                    verificados.
                </h1>
                <p class="text-sm md:text-lg font-medium max-w-xl mx-auto leading-relaxed">
                    La infraestructura digital para que las instutuciones de salud gestionen adquisiciones con transparecia, seguridad y eficiencia total.
                </p>
            </div>
             <a href="@Url.Action("accion", "controlador")" class="text-xl  bg-teal-700 rounded-2xl px-8 py-4 text-white font-semibold hover:bg-teal-800 flex items-center justify-center gap-2 hover:translate-x-1 transition-all">               
                Crear cuenta gratuita
                <i class="fa-solid fa-arrow-right"></i>
             </a>
        </section>
    </header>
</main>
