@{
ViewBag.Title = "Home";
}
<main class="min-h-dvh font-sans">
    <header class="relative w-full h-dvh">
        <img src="~/Content/Images/medicos.png" alt="Imagen de fondo" class="w-full h-dvh object-cover">

        <section
            class="flex justify-center content-center flex-col items-center absolute top-0 left-0  w-full h-dvh text-center text-white px-4 pt-14 gap-6">
            <div
                class="flex items-center bg-white/10 backdrop-blur-md px-3 py-1.5 rounded-4xl border-2 border-gray-300/40 font-semibold gap-2">
                <span class="w-3.5 h-3.5 text-sm text-teal-400  animate-pulse flex items-center justify-center">
                    <i class="fa-solid fa-circle"></i>
                </span>
                <p class="text-xs md:text-lg">LÍDER EN SUMINISTROS MÉDICOS B2B</p>
            </div>
            <div class="font-bold leading-tight flex flex-col gap-4">
                <h2 class="max-w-xl text-4xl md:text-6xl leading-tight">
                    Conecta con
                    <span class="text-teal-300 md:text-7xl">proveedores</span>
                    verificados.
                </h2>
                <p class="text-sm md:text-lg font-medium max-w-xl mx-auto leading-relaxed">
                    La infraestructura digital para que las instutuciones de salud gestionen adquisiciones con
                    transparecia, seguridad y eficiencia total.
                </p>
            </div>
            <a href="@Url.Action(" accion", "controlador" )"
                class="text-lg md:text-xl bg-teal-700 rounded-2xl px-8 py-4 text-white font-semibold hover:bg-teal-800 flex items-center justify-center gap-2 hover:translate-x-1 transition-all">
                Crear cuenta gratuita
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </section>
    </header>
    <section class="w-full h-1/2
                    flex flex-col items-center
                    py-12 gap-8
                    md:py-28 
                    text-center">
        <h2 class="font-mono text-xl">ESTANDARES DE SEGURIDAD INTEGRADOS</h2>
        <div class="w-full
                    flex items-center 
                    max-md:flex-col max-md:gap-4
                    md:justify-around
                    text-gray-600">
            <article class="flex items-center
                            gap-2
                            font-semibold
                            max-md:flex-col">
                <div class="max-md:w-6 max-md:h-6
                            max-md:flex max-md:justify-center max-md:items-center
                            max-md:p-6
                            max-md:bg-teal-700 max-md:text-white
                            max-md:rounded-full">
                    <i class="fa-solid fa-shield-alt text-2xl"></i>
                </div>
                <h3 class="text-xl">Proveedores Verificados</h3>
            </article>
            <article class="flex items-center
                            gap-2
                            font-semibold
                            max-md:flex-col">
                <div class="max-md:w-6 max-md:h-6
                            max-md:flex max-md:justify-center max-md:items-center
                            max-md:p-6
                            max-md:bg-teal-700 max-md:text-white
                            max-md:rounded-full">
                    <i class="fa-solid fa-lock text-2xl"></i>
                </div>
                <h3 class="text-xl">Transacciones Seguras</h3>
            </article>
            <article class="flex items-center
                            gap-2
                            font-semibold
                            max-md:flex-col">
                <div class="max-md:w-6 max-md:h-6
                            max-md:flex max-md:justify-center max-md:items-center
                            max-md:p-6
                            max-md:bg-teal-700 max-md:text-white
                            max-md:rounded-full">
                    <i class="fa-solid fa-user-shield text-2xl"></i>
                </div>
                <h3 class="text-xl">Protección de Datos</h3>
            </article>
        </div>
    </section>

    <!-- proceso simplificado -->

    <div class="bg-gray-200 py-24 w-full flex flex-col items-center">

        <h2 class="
 font-mono text-sm text-teal-700
 py-5">
            PROCESO SIMPLIFICADO</h2>

 <h3 class="
 text-4xl font-semibold text-center">
    Cómo funciona MediMarket
 </h3>

        <section class="
 w-full h-fit 
 flex justify-center items-center 
 md:px-10 py-20">

            <div class="
        w-full h-fit 
        flex max-md:flex-col justify-center items-center
        md:gap-10 gap-6">

                <article class="
            rounded-3xl 
            bg-white shadow-lg 
            p-10 md:mx-0 mx-5 
            md:w-full md:h-80 
            hover:translate-y-1 transition-transform">

                    <div class="
                w-fit 
                p-5 mb-8
                bg-teal-700 rounded-full 
                text-2xl text-white">
                        <i class="fa-solid fa-list-check"></i>
                    </div>

                    <h3 class="
                text-black text-2xl font-semibold
                my-4">
                        Publica una solicitud (RFQ)</h3>

                    <p class="text-gray-600">
                        Sube tus requerimientos médicos detallados, desde insumos quirúrgicos hasta servicios de
                        mantenimiento especializado.</p>
                </article>

                <article class="
            rounded-3xl p-10 md:mx-0 mx-5 shadow-lg 
            bg-white  md:w-full md:h-80 
            hover:translate-y-1 transition-transform">

                    <div class="
                w-fit 
                p-5 
                bg-teal-700 rounded-full 
                text-2xl text-white 
                mb-8">
                        <i class="fa-solid fa-repeat"></i>
                    </div>

                    <h3 class="
                text-black text-2xl font-semibold
                my-4">
                        Recibe y compara cotizaciones</h3>

                    <p class="text-gray-600">
                        Analiza múltiples presupuestos coompetitivos de proveedores certificados en un panel comparativo
                        inteligente y unificado.</p>
                </article>

                <article class="
                rounded-3xl p-10 md:mx-0 mx-5 shadow-lg 
              bg-white  md:w-full md:h-80 
                hover:translate-y-1 transition-transform">

                    <div class="
                w-fit p-4 
                bg-teal-700 rounded-full 
                text-3xl text-white 
                mb-8">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>

                    <h3 class="
                text-black text-2xl  font-semibold
                my-4">
                        Contrata y gestiona servicios</h3>

                    <p class="text-gray-600">
                        Cierra contratos legalmente vinculantes, realiza pagos protegidos y realiza el seguimiento de la
                        entrega en tiempo real.</p>
                </article>
            </div>
        </section>

        <!-- dos cuadros -->

        <section class="
 w-full h-fit 
 flex justify-center items-center 
 md:px-10 py-24">

            <div class="
        w-full h-fit 
        flex max-md:flex-col justify-center items-center gap-6
        md:gap-10
        max-md:px-4
        text-pretty">

                <article class="
            flex flex-col
            rounded-4xl 
            bg-white
            p-7
            md:p-10 md:mx-0 mx-5 
            w-full md:h-fit">
            
            <h1 class="
            text-teal-700 font-semibold text-3xl md:text-4xl mb-5 md:mb-10">
                Para intituciones médicas
            </h1>

            <div class="flex max-md:flex-col items-start mb-4 md:mb-10">

                        <div class="
                flex items-center justify-center shrink-0
                size-fit p-4
                md:p-5 md:mb-8 md:mr-4
                bg-gray-200 rounded-3xl
                text-2xl text-teal-700 
                animate-pulse
                ">
                    <i class="fa-solid fa-bolt"></i>
                </div>     
                                
                <div class="max-md:w-full">
                <h3 class="
                text-black text-xl md:text-2xl font-semibold
                md:my-2">
                Ahorra tiempo</h3>
                
                <p class="text-gray-600">
                    Reduce en un 40% el tiempo necesario para búsqueda y negociación con proveedores.</p>
                </div>
            </div>

              <div class="flex max-md:flex-col items-start mb-4 md:mb-10">
                
                <div class="
                flex items-center justify-center shrink-0
                size-fit p-4
                md:p-5 md:mb-8 md:mr-4
                bg-gray-200 rounded-3xl
                text-2xl text-teal-700 
                animate-pulse
                ">
                    <i class="fa-solid fa-chart-simple"></i>
                </div>     
                                
                <div>
                <h3 class="
                text-black text-xl md:text-2xl font-semibold
                md:my-2">
                Compara proveedores</h3>
                
                <p class="text-gray-600">
                    Accede a un catálogo global de proveedores con reseñas reales de otros hospitales.</p>
                </div>
            </div>

              <div class="flex max-md:flex-col items-start mb-4 md:mb-10">
                
                <div class="
                flex items-center justify-center shrink-0
                size-fit p-4
                md:p-5 md:mb-8 md:mr-4
                bg-gray-200 rounded-3xl
                text-2xl text-teal-700
                animate-pulse
                ">
                    <i class="fa-solid fa-lock"></i>
                </div>     
                                
                <div>
                <h3 class="
                text-black text-xl md:text-2xl font-semibold
                md:my-2">
                Contratación segura</h3>
                
                <p class="text-gray-600">
                    Contratos digitales y cumplimiento normativo garantizado en cada transacción.</p>
                </div>
            </div>
         
            </article>     
            
                <article class="
            flex flex-col
            rounded-4xl 
            bg-teal-700 text-white
            p-7
            md:p-10 md:mx-0 mx-5 
            w-full md:h-fit">
            
            <h1 class="
            font-semibold text-3xl md:text-4xl mb-5 md:mb-10">
                Para proveedores
            </h1>

            <div class="flex max-md:flex-col items-start mb-4 md:mb-10">

                        <div class="
                flex items-center justify-center shrink-0
                size-fit
                p-4 md:p-5 md:mb-8 mr-4
                bg-teal-600/40 rounded-3xl
                text-2xl text-white
                animate-pulse
                ">
                    <i class="fa-solid fa-people-group"></i>
                </div>     
                                
                <div>
                <h3 class="
                text-xl md:text-2xl font-semibold
                md:my-2">
                Consigue clientes</h3>
                
                <p class="text-gray-300">
                    Acceso directo a los tomadores de decisiones de las principales clínicas y hospitales del país.</p>
                </div>
            </div>

              <div class="flex max-md:flex-col items-start mb-4 md:mb-10">
                
                <div class="
                flex items-center justify-center shrink-0
                size-fit
                p-4 md:p-5 md:mb-8 mr-4
                bg-teal-600/40 rounded-3xl
                text-2xl text-white
                animate-pulse
                ">
                    <i class="fa-solid fa-eye"></i>
                </div>     
                                
                <div>
                <h3 class="
                text-xl md:text-2xl font-semibold
                md:my-2">
                Mayor visibilidad</h3>
                
                <p class="text-gray-300">
                    Destaca tus servicios y productos en un marketplaces especializado en el sector salud.</p>
                </div>
            </div>

              <div class="flex max-md:flex-col items-start mb-4 md:mb-10">
                
                <div class="
                flex items-center justify-center shrink-0
                size-fit
                p-4 md:p-5 md:mb-8 mr-4
                bg-teal-600/40 rounded-3xl
                text-2xl text-white
                animate-pulse
                ">
                    <i class="fa-solid fa-star"></i>
                </div>     
                                
                <div>
                <h3 class="
                text-xl md:text-2xl font-semibold
                md:my-2">
                Construye reputación</h3>
                
                <p class="text-gray-300">
                    Escala tu negocio basándote en un perfil verificado y calificaciones positivas de clientes satisfechos.</p>
                </div>
            </div>
         
            </article>     
        </div>
</section>

<!-- Herramientas para la salud -->
 <section class="w-full h-fit
                flex max-md:flex-col items-center justify-between
                px-4 md:px-12 py-12 md:py-28 gap-8">
        <div class="w-full md:w-2/8 h-fit flex flex-col gap-4">
            <div class="w-full h-fit
                        flex flex-col
                        gap-4
                        text-pretty">
                <h3 class="font-mono text-teal-700 text-base font-semibold">INSFRAESTRUCTURA ENTERPRISE</h3>
                <h2 class="font-semibold text-5xl">Herramientas diseñadas para la salud</h2>
                <p class="text-lg text-gray-500">Nuestra infraestructura técnica cumple
                con los más altos estándares de
                seguridad y eficiencia operativa,
                facilitando la toma de decisiones basada
                en datos.</p>
            </div>
            <div class="w-full h-fit
                        flex flex-col
                        gap-6">
                <article class="w-full h-auto
                                flex items-baseline
                                gap-4 px-4 py-3
                                bg-white rounded-2xl shadow-sm">
                    <i class="fa-solid fa-chart-line text-teal-700"></i>
                    <div>
                        <h2 class="font-semibold">Métricas en tiempo real</h2>
                        <p class="text-sm text-gray-600">Visualiza el gasto y tiempos de entrega en un solo lugar.</p>
                    </div>
                </article>
                <article class="w-full h-auto
                                flex items-baseline
                                gap-4 px-4 py-3
                                bg-white rounded-2xl shadow-sm">
                    <i class="fa-solid fa-chart-line text-teal-700"></i>
                    <div>
                        <h2 class="font-semibold">IA en Adquisiciones</h2>
                        <p class="text-sm text-gray-600">Automatiza RFQs basados en tus niveles de inventario.</p>
                    </div>
                </article>
            </div>
        </div>
            <div class="w-full md:w-6/12 h-fit relative border-8 border-gray-300 rounded-3xl shadow-lg overflow-hidden">
                <img src="~/Content/Images/img-herramientas.png" alt="Imagen de dashboard" class="w-full h-auto 
                object-cover 
                rounded-2xl shadow-lg
                relative">
                
                <div class="absolute top-0 left-0 w-full h-full
                                bg-line-to-t from-black/30 to-transparent
                                rounded-2xl
                                flex p-8">
                    <article class="w-fit h-fit
                                    flex items-baseline
                                    gap-2 px-2 py-1
                                    md:gap-4 md:px-4 md:py-3
                                    bg-white rounded-2xl shadow-sm
                                    absolute top-1/5 left-8 max-md:text-xs">
                        <i class="fa-solid fa-scale-balanced"></i>
                        <div>
                            <h2 class="font-semibold text-sm">Comparativa Inteligente</h2>
                        </div>
                    </article>
                    <article class="w-fit h-fit
                                    flex items-baseline
                                    gap-2 px-2 py-1
                                    md:gap-4 md:px-4 md:py-3
                                    bg-white rounded-2xl shadow-sm
                                    absolute top-1/2 right-4 md:right-8 max-md:text-xs">
                        <i class="fa-solid fa-money-bills"></i>
                        <div>
                            <h2 class="font-semibold text-sm">Pagos Protegidos</h2>
                        </div>
                    </article>
                    <article class="w-fit h-fit
                                    flex items-baseline
                                    gap-2 px-2 py-1
                                    md:gap-4 md:px-4 md:py-3
                                    bg-white rounded-2xl shadow-sm
                                    absolute top-9/12 left-1/4 max-md:text-xs">
                        <i class="fa-solid fa-shield-halved "></i>
                        <div>
                            <h2 class="font-semibold text-sm">HIPAA Compliant</h2>
                        </div>
                    </article>
                </div>
 </section>

        <!-- Planes -->

        <div class=" pt-24 w-full flex flex-col items-center">

 <h2 class="
 text-3xl font-semibold text-center
 py-5
 md:text-5xl">
 Planes diseñados para crecer</h2>

 <h3 class="
 text-base text-center">
    Sin costos ocultos, sin complicaciones. Transparecncia total en cada operación.
 </h3>

        </div>

        <section class="
 w-full h-fit 
 flex justify-center items-center 
 md:px-60 py-14">

            <div class="
        w-full h-fit 
        flex justify-center items-center
        max-md:flex-col md:gap-10 gap-6">

                <article class="
            flex flex-col
            rounded-4xl 
            bg-white
            p-10 md:mx-0 mx-5 
            md:w-full md:h-fit">

                    <span class="
            bg-gray-300
            rounded-full 
            text-gray-600 font-sans px-3 py-1 self-start mb-4
            ">GRATIS</span>

                    <h1 class="
            text-black font-semibold text-4xl">
                        Plan Gratuito
                    </h1>
                    <h2 class="pb-10">
                        Para consulturios y pequeñas clínicas.
                    </h2>

                    <div class="flex mb-14">

                        <h3 class="
                text-black text-6xl font-bold">
                            $0</h3>

                        <p>/mes</p>
                    </div>

                    <div class="flex items-center mb-8">

                        <div class="
                flex items-center justify-center shrink-0
                size-fit
                pr-5
                text-2xl text-teal-700
                ">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>

                        <h3 class="
                text-black text-2xl">
                            Publicaciones ilimitadas</h3>
                    </div>

                    <div class="flex items-center mb-8">

                        <div class="
                flex items-center justify-center shrink-0           
                pr-5    
                text-2xl text-teal-700               
                ">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>

                        <h3 class="
                text-black text-2xl">
                            Acceso a red de proveedores</h3>
                    </div>

                    <div class="flex items-center mb-8">

                        <div class="
                flex items-center justify-center shrink-0                
                pr-5
                text-2xl text-teal-700               
                ">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>

                        <h3 class="
                text-black text-2xl">
                            Soporte vía email</h3>
                    </div>

                    <div class="flex items-center mb-8 text-gray-400">

                        <div class="
                flex items-center justify-center shrink-0
                pr-5          
                text-2xl          
                ">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>

                        <h3 class="text-2xl">
                            Reportes avanzados</h3>
                    </div>

                    <a href="@Url.Action(" accion", "controlador" )" class="
            text-lg md:text-xl text-teal-700 font-semibold
            rounded-2xl border-teal-700 border-2
            px-8 py-4 my-8 
            flex items-center justify-center gap-2 
           hover:bg-teal-700 hover:text-white  transition-colors">
                        Empezar gratis
                    </a>

                </article>

                <article class="
            flex flex-col
            rounded-4xl border-teal-700 border-4
            bg-white
            p-10 md:mx-0 mx-5 
            md:w-full md:h-fit">

                    <span class="
            bg-teal-700
            rounded-full 
            text-white font-sans px-3 py-1 self-start mb-4
            ">RECOMENDADO</span>

                    <h1 class="
            text-black font-semibold text-4xl">
                        Plan Premium
                    </h1>
                    <h2 class="pb-10">
                        Para hospitales y redes de salud.
                    </h2>

                    <div class="flex mb-14">

                        <h3 class="
                text-black text-6xl font-bold">
                            $299</h3>

                        <p>/mes</p>
                    </div>

                    <div class="flex items-center mb-8">

                        <div class="
                flex items-center justify-center shrink-0
                size-fit
                pr-5
                text-2xl text-teal-700
                ">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>

                        <h3 class="
                text-black text-2xl">
                            Todo el plan gratuito</h3>
                    </div>

                    <div class="flex items-center mb-8">

                        <div class="
                flex items-center justify-center shrink-0           
                pr-5    
                text-2xl text-teal-700               
                ">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>

                        <h3 class="
                text-black text-2xl">
                            Reportes de analítica avanzada</h3>
                    </div>

                    <div class="flex items-center mb-8">

                        <div class="
                flex items-center justify-center shrink-0                
                pr-5
                text-2xl text-teal-700               
                ">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>

                        <h3 class="
                text-black text-2xl">
                            Account Manager dedicado</h3>
                    </div>

                    <div class="flex items-center mb-8">

                        <div class="
                flex items-center justify-center shrink-0
                pr-5          
                text-2xl text-teal-700     
                ">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>

                        <h3 class="text-2xl text-black">
                            Comisiones reducidas</h3>
                    </div>

                    <a href="@Url.Action(" accion", "controlador" )" class="
            text-lg md:text-xl text-teal-700 font-semibold
            rounded-2xl border-teal-700 border-2
            px-8 py-4 my-8 
            flex items-center justify-center gap-2 
           hover:bg-teal-700 hover:text-white  transition-colors">
                        Solicitar Premium
                    </a>

                </article>
            </div>
        </section>
    </div>
    
    <!-- cuadro verde de abajo xd -->

    <div class="
    flex flex-col items-center justify-center
    bg-teal-700 
    text-white 
    py-24 px-4 my-48 mx-12 gap-8
    rounded-[5rem] shadow-2xl
    text-center">
        <h1 class="
        max-w-4xl mx-auto
        text-4xl md:text-7xl font-bold">
            Opimiza la gestión de proveedores hoy mismo.
        </h1>

        <h2 class="
        max-w-4xl mx-auto leading-relaxed
         text-3xl text-white/80">
            Únete a MediMarket y transforma tu cadena de suministro con tecnología de punta.
        </h2>

        <a href="@Url.Action(" accion", "controlador" )" class="
            text-lg md:text-2xl text-teal-700 font-semibold
            rounded-2xl
            px-8 py-4 my-8 
            flex items-center justify-center gap-2 
           hover:translate-x-1 bg-white  transition-all hover:bg-white/90">
                        Únete a la red ahora
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>

    </div>
</main>