<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Login</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
     <link rel="stylesheet" href="~/Content/fontawesome/css/all.min.css" />
</head>
<body class="bg-white min-h-screen">
   <main>
        @RenderBody()
    </main>
</body>
</html>
