
@{
    Layout = "~/Views/Shared/_LayoutProveedores.cshtml";
    ViewBag.Title = "Principal";
}

<header class="w-full h-16 bg-gray-200 flex items-center justify-between px-4 shadow">
    <div class="flex items-center gap-4 w-1/4">
        <input type="text" placeholder="Buscar..." class="px-3 py-1 rounded-md bg-gray-400/50 focus:outline-none focus:ring-2 focus:ring-green-600/50 w-full" />
    </div>
    <div class="flex items-center gap-4">
        <div class="relative">
            <button id="ToggleNotifications" class="text-gray-700 focus:outline-none cursor-pointer">
                <i class="fa-solid fa-bell"></i>
            </button>
            <span id="notifications"
            class="w-64 hidden px-4 py-2 absolute top-10 right-2 rounded-lg bg-gray-400 shadow-sm before:w-0 before:h-0 before:border-r-0 before:border-r-transparent before:border-l-24 before:border-l-transparent before:border-b-24 before:border-b-gray-400 before:-top-3 before:right-1  before:absolute">
            Notificaciones
            <hr>
            </span>
        </div>
        <div class="relative">
            <button id="TogglePerfil" class="text-gray-700 focus:outline-none cursor-pointer">
            <i class="fas fa-user-circle text-gray-700 text-2xl"></i>
        </button>
        <span id="PerfilInfo"
    class="hidden px-4 py-2 absolute top-10 right-2 rounded-lg bg-gray-400 shadow-sm before:w-0 before:h-0 before:border-r-0 before:border-r-transparent before:border-l-24 before:border-l-transparent before:border-b-24 before:border-b-gray-400 before:-top-3 before:right-1  before:absolute">
    @User.Identity.Name
  </span>
        </div>
    </div>
    
</header>

<script>
    // Toggle del perfil
    const perfilInfo = document.getElementById("PerfilInfo");
    document.getElementById("TogglePerfil").addEventListener("click", function(e) {
        e.stopPropagation();
        perfilInfo.classList.toggle("hidden");
    });

    // Cerrar el perfil al hacer clic fuera de él
    document.addEventListener("click", function(event) {
        if(perfilInfo.classList.contains("hidden")) return; // Si ya está oculto, no hacer nada
        const isClickInside = perfilInfo.contains(event.target) || event.target.id === "TogglePerfil";
        if (!isClickInside) {
            perfilInfo.classList.add("hidden");
        }
    });

    // Toggle de notificaciones
    const notifications = document.getElementById("notifications");
    document.getElementById("ToggleNotifications").addEventListener("click", function(e) {
        e.stopPropagation();
        notifications.classList.toggle("hidden");
    });

    // Cerrar las notificaciones al hacer clic fuera de ellas
    document.addEventListener("click", function(event) {
        if(notifications.classList.contains("hidden")) return; // Si ya está oculto, no hacer nada
        const isClickInside = notifications.contains(event.target) || event.target.id === "ToggleNotifications";
        if (!isClickInside) {
            notifications.classList.add("hidden");
        }
    });
</script>